<h1>Listing prefectures</h1>


<% @prefectures.each do |prefecture| %>
  <h2><%= link_to "#{prefecture.name} - #{prefecture.region.name}"  , prefecture %></h2>
<% end %>
<br />

<%= link_to 'New Prefecture', new_prefecture_path %>
