<h2><%= @prefecture.name %></h2>
<p>
  <%= raw Maruku.new(@prefecture.content).to_html %>
</p>


<%= link_to 'Edit', edit_prefecture_path(@prefecture) %> |
<%= link_to 'Zurück zur Region', @prefecture.region%>

