<h1>Regionen</h1>
<ul>
<% @regions.each do |region|%>
  <li><%= link_to region.name, region %></li>
<% end %>
</ul>
<h2>Karte</h2>
<p>
<a href="/region_map"><img src="/images/regionen_thumb.png"></img></a>
</p>

