<h1><%= @region.name %></h1>
<ul>
  <% @region.prefectures.each do |prefecture| %>
    <li><%= link_to prefecture.name, prefecture %></li> 
  <% end %>
</ul>
<p><%= link_to "Zurück zur Regionsübersicht", regions_path %></p>


<% content_for :sidebar2 do %>
  <h3>Editiert von:</h3>
  <ul>
    <% @region.users.each do |user| %>
      <li><%= user.email %></li>
    <% end %> 
  </ul>
<% end %>
